# node_modules
node_modules/
app/node_modules/
server/node_modules/

# env files
.env
app/.env
server/.env

# uploads (important)
server/uploads/

# expo
.expo/
dist/

# logs
npm-debug.log
yarn-error.log